.App {
  margin: 2% 5%;
}

.header {
  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  color: #282538;
}

.bold {
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
}

/* Home Page Styles */

.banner {
  background: url("./images/reaching-for-the-sky.jpg");
  border-radius: 8px;
  width: 100%;
  height: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32px 0;
}

/* Main Content */

.main-content {
  display: flex;
}

.sidebar {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #334680;
  width: 30%;
}

.checkbox-container {
  color: #334680;
  display: flex;
  width: max-content;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  color: #b9bdcf;
}

.label {
  align-self: center;
}
.job-cards-list {
  width: 70%;
}
