.App {
  margin: 2% 5%;
}
.header {
  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  color: #282538;
  cursor: auto;
}
.header-items {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: "none";
}
.hide {
  display: none;
}
.material-icon-container {
  display: flex;
  gap: 5px;
}
.material-icons {
  font-size: 18px;
}
.label {
  align-self: center;
}
.flex {
  display: flex;
  gap: 15px;
  align-items: center;
}
.select-box {
  min-width: 60%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

/* Home Page Styles */
.banner {
  background: url("./images/reaching-for-the-sky.jpg");
  border-radius: 8px;
  width: 100%;
  height: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 55px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 5px;
}
.search-button {
  cursor: pointer;
  width: 23%;
  max-width: 146px;
  height: 47px;
  background: #1e86ff;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  transition: background 0.2s ease-in;
}
.search-button:hover {
  opacity: 0.8;
}

/* Main Content */
.main-content {
  display: flex;
}

/* Sidebar */
.sidebar {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #334680;
  width: 30%;
  margin-right: 50px;
}
.checkbox-container {
  color: #334680;
  display: flex;
  width: max-content;
}
.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  color: #b9bdcf;
}
.search-location-container {
  margin: 30px 0 50px;
}
.search-location-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #b9bdcf;
  margin-bottom: 10px;
}
.search-location-box {
  font-size: 12px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  height: 48px;
  width: 100%;
  padding: 5px;
}
/* End of Sidebar */

.job-cards-list {
  width: 70%;
}
.placeholder-job-cards {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #334680;
}
/* End of Home Page Styles */

/* Job Page Styles */
.back-btn-container {
  margin: 33px 0 36px;
  display: flex;
  gap: 8px;
}
.how-to-apply {
  text-transform: uppercase;
  color: #b9bdcf;
}
.email-desc {
  margin-top: 16px;
  color: #334680;
}
.links {
  color: #1e86ff;
}
.job-contents {
  margin-top: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #334680;
}
.job-title {
  font-weight: bold;
  font-size: 24px;
}
.full-time-btn {
  border: 1px solid #334680;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #334680;
  border-radius: 4px;
  min-width: 63px;
  height: 26px;
}
.place-container,
.date-container {
  font-weight: 500;
  font-size: 12px;
  color: #b7bcce;
  margin-top: 10px;
}
.company-details {
  margin: 32px 0px;
}
.company-logo {
  width: 42px;
}
.company-name {
  font-weight: bold;
  font-size: 18px;
  color: #334680;
}
.job-description {
  white-space: pre-wrap;
}
/* End of Job Page Styles */

/* Responsiveness */
@media screen and (max-width: 768px) {
  .main-content {
    flex-wrap: wrap;
  }
  .sidebar {
    width: 100%;
  }
  .job-cards-list {
    width: 100%;
  }
  .placeholder-job-cards {
    width: 100%;
  }
}
